{:builds
 {:app { 
         :target :npm-module
         :entries [demo.foo]
         :output-dir "app/javascript/compiled-cljs"
        }
  }
 :dependencies [[reagent "0.8.1"]
                [devcards "0.2.6"]]
 :source-paths ["app/javascript/cljs"]}
