{:builds
 {:app { 
         :target :npm-module
         :entries [home-page]
         :output-dir "out/cljs-compiled"
        }
  }
 :dependencies [[reagent "1.0.0"]
                [devcards "0.2.6"]]
 :source-paths ["cljs"
                "app/javascript"]}
