%h1 Home Page
- if current_user.nil?
  = link_to new_user_session_path, class: 'login-button' do
    Sign in
- else
  %p Welcome To The Soccer Game App
  = button_to "Log out", destroy_user_session_path, :method => :delete
